@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Epilogue', sans-serif;
}

.scroll-lock {
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0 0% 0% / 0.3);
  z-index: 1;
  visibility: visible;
  opacity: 1;
}

.overlay--hidden {
  visibility: hidden;
  opacity: 0;
}

.wrapper {
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  gap: 3.875rem;
  margin-bottom: 3.125rem;
  padding-top: 3rem;
}

.header__logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
}

.header__nav-container {
  flex-grow: 1;
  display: flex;
}

.header__nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
}

.header__nav li {
  position: relative;
}

.header__nav__btn {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.75rem;
  border: none;
  cursor: pointer;
  background: transparent;
  color: hsl(0 0% 41%);
}

.header__nav__btn:hover {
  color: hsl(0 0% 8%);
}

.arrow-icon--open {
  transform: rotateX(180deg);
}

.menu-btn {
  display: none;
  border: none;
  background: transparent;
}

.close-icon {
  display: none;
}

.nav__dropdown__container {
  display: none;
  position: absolute;
  top: 100%;
  left: -50%;
  box-shadow: 0 10px 20px hsla(0 0% 0% / 0.1);
  border-radius: 9px;
}

.nav__dropdown__container--open {
  display: block;
}

.btn-icon[name='close-icon'] {
  display: none;
}

.nav__dropdown {
  padding: 1.5rem;
  font-size: 0.9375rem;
  border-radius: 9px;
  color: hsl(0 0% 41%);
  background-color: hsl(0 0% 100%);
  list-style: none;
  box-shadow: none;
}

.nav__dropdown--company {
  left: 0;
}

.nav__dropdown__link {
  display: flex;
  align-items: center;
  gap: 0.875rem;
  margin-bottom: 1.25rem;
}

.nav__dropdown__link a:link,
.nav__dropdown__link a:visited {
  display: flex;
  align-items: center;
  gap: 0.875rem;
  text-decoration: none;
  color: hsl(0 0% 41%);
}

.nav__dropdown__link img {
  width: 1rem;
}

.nav__dropdown__link:last-of-type {
  margin-bottom: 0;
}

.header__btn-container {
  display: flex;
  gap: 2rem;
  margin-right: 3rem;
}

.logo {
  width: 100%;
}

.btn:link,
.btn:visited {
  padding: 1rem 1.75rem;
  font-size: 1rem;
  text-decoration: none;
  color: hsl(0 0% 41%);
  transition: all 200ms;
}

.btn:hover,
.btn:active {
  color: hsl(0 0% 8%);
}

.btn:last-of-type {
  box-shadow: inset 0 0 0 2px hsl(0 0% 41%);
  border-radius: 11px;
}

.btn:last-of-type:hover {
  box-shadow: inset 0 0 0 2px hsl(0 0% 8%);
}

.container {
  max-width: 81.25rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3.875rem;
}

.main__heading {
  width: 95%;
  font-size: 5.5rem;
  margin-bottom: 3.875rem;
  padding-top: 5.125rem;
}

.main__description {
  width: 75%;
  margin-bottom: 3.875rem;
  font-size: 1, 125rem;
  line-height: 1.5;
  color: hsl(0 0% 41%);
}

.main__btn {
  display: inline-block;
  padding: 1.5rem 2rem;
  font-size: 1.125rem;
  text-decoration: none;
  border-radius: 15px;
  color: hsl(0 0% 100%);
  background-color: hsl(0 0% 0%);
}

.main__partners-container {
  display: flex;
  align-items: center;
  gap: 3.25rem;
  margin-top: 6.25rem;
}

.main__img-box {
  height: 100%;
  background-image: url('./images/image-hero-desktop.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: right;
}
